body {
  text-align: center;
  background-color: #ffe0f7;
}

h1 {
  padding-top: 8%;
  font-size: 5rem;
  color: #d54062;
  font-family: "Arvo", cursive;
  text-shadow: 4px 0 pink;

}
p{
  font-size: 2.5rem;color: #fe91ca;
}

footer {
  color: #d54062;
  font-family: sans-serif;
}

.w {
  background-image:url('images/tom1.png');

}

.a {
  background-image:url('images/tom2.png');
}

.s {
  background-image:url('images/tom3.png');
}

.d {
  background-image:url('images/tom4.png');
}

.j {
  background-image:url('images/crash.png');
}

.k {
background-image:url('images/kick.png');
}

.l {
background-image:url('images/snare.png');
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #fe91ca;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #d54062;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
